.company_banner {
  padding-top: 0;
  padding-bottom: 40px;
  height: 521px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company_banner img {
  width: 100%;
  height: 100%;
}
.company_container .banner_text {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company_container h1 {
  font-family: "Gilroy EB";
  text-align: center;
  font-weight: 600;
  font-size: 65px;
  line-height: 94px;
  color: #000;
  width: 90%;
}

/* the team */
.the_team {
  background-color: #17161a;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.the_team h2 {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 94px;
  color: #ffffff;
}
.the_team h2 span {
  color: #ffde59;
}
.the_team .team_container {
  margin: 40px 0;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}
.the_team .team_member {
  width: 100%;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
}
.the_team .team_member .img_container {
  width: 100%;
  border-radius: 20px;
  position: relative;
  min-height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.the_team .team_member .img_container img {
  position: absolute;
  bottom: -40px;
  width: 100%;
}
.the_team .team_member .info {
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.the_team .team_member .info h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 53px;
  color: #fff;
  margin-bottom: 5px;
}
.the_team .team_member .info p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 5px;
}
.the_team .team_member .img_container:nth-child(odd) {
  background-color: #fffcee;
}
.the_team .team_member .img_container:nth-child(even) {
  background-color: #f3f3f3;
}
.the_team .join_team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.the_team .join_team h2 {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 78px;
  line-height: 94px;
  color: #ffde59;
  margin-bottom: 1.5rem;
}
.the_team .join_team button {
  width: 180px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .company_banner {
    padding: 0 50px 10px 50px;
  }
  .company_container .banner_text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .company_container h1 {
    font-size: 40px;
    line-height: 45px;
    width: 90%;
  }
  .the_team .team_container {
    margin: 0 0 20px 0;
  }
  .the_team .team_container {
    grid-gap: 20px;
  }
  .the_team .team_member .img_container {
    min-height: 280px;
  }
  .the_team .team_member img {
    position: absolute;
    bottom: -40px;
    transition: all 0.3s ease-in-out;
    width: 90%;
  }
  .the_team .team_member:hover img {
    bottom: -20px;
    width: 100%;
  }
  .the_team .team_member .info h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .the_team .team_member .info p {
    font-size: 18px;
    line-height: 20px;
  }
  .the_team .join_team h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 768px) {
  .company_banner {
    height: 300px;
  }
  .company_container h1 {
    font-size: 35px;
    line-height: 40px;
    width: 100%;
  }
  .the_team .team_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .the_team .team_member .img_container {
    min-height: 350px;
  }
  .the_team .team_member img {
    position: absolute;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .the_team .team_member .info {
    margin-top: 15px;
  }
  .the_team .team_member:hover img {
    bottom: 0px;
  }
  .the_team .team_member .info h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .the_team .team_member .info p {
    font-size: 18px;
    line-height: 20px;
  }
  .the_team .join_team {
    order: 9;
  }
}
@media (max-width: 600px) {
  .company_banner {
    padding: 0 20px 10px 20px;
    height: 200px;
  }
  .company_container .banner_text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .company_container h1 {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
  }
  .the_team h2 {
    font-size: 26px;
    line-height: 25px;
  }
  .the_team .team_container {
    margin: 20px 0;
  }
  .the_team .join_team {
    margin: 20px 0;
    order: 9;
  }
  .the_team .join_team h2 {
    font-size: 36px;
    line-height: 25px;
  }
  .the_team .team_container {
    grid-template-columns: 1fr;
  }
  .box_one,
  .box_two {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .box_one .img,
  .box_two .img {
    margin-top: 20px;
    width: 100%;
  }
  .box_one .text,
  .box_two .text {
    padding: 0px 20px !important;
  }
  .box_one .img,
  .box_two .img {
    padding: 0px !important;
  }
}
